#root {
    -fx-background-color: yellowgreen;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#bp {
    -fx-background-color: lightslategray;
}

#vb {
    -fx-background-color: dimgray;
    -fx-background-radius: 25.25,25,25;
}

#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color:  lightslategray;
}

#text {
    -fx-fill:  linear-gradient(yellowgreen , yellow);
}